html, body {
    height: 100%;
}
body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    font-size: 13px;
    color: #f8f9fa;
    overflow-x: hidden;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color:#f8f9fa;
}

/* CONTACTS */
.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
.contact-box.center-version > a img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}

.white-bg {
  background: #fff;
}
.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}
.wrapper-content {
  padding: 20px 40px 40px;
}

.page-heading {
  border-top: 0;
  padding: 20px 20px 20px 30px;
}
.contact-name{
  color: #676a6c;
}

.btn-xs {
  font-size: 0.7rem;
  padding: 0.2rem 0.4rem;
  margin-right: 5px;
}

